html * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, *::before, *::after {
   box-sizing: border-box;
}


body {
    width: 100%;
    background-color: #f5f7fa;
    color: #1a1a1a;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    padding-bottom: 500px;
    background-color: pink;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ROOT STYLES */
/* NAVBAR SECTION */

.navbar {
    background-color: #1a1a1a;
    color: #f5f7fa;
    width: 100%;
    padding: 20px 30px 20px 20px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-router {
    display: flex;
    gap: 10px;
    align-items: center;
}

.navbar .icon {
    height: 50px;
    display: block;
}

.typography {
    height: 30px;
    width: 75px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.typography img {
    width: 100%;
}

.hamburger {
    width: 25px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.hamburger span {
    height: 2px;
    width: 100%;
    background-color: white;
    border-radius: 2px;
    transition: all 0.3s ease;
}

.hamburger.active span:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}

/* NAVBAR SECTION */
/* HERO SECTION */

.hero {
    width: 100%;
    padding: 140px 24px 30px 24px;
    background-image: url('/src/img/hero.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: #f5f7fa;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.headline {
    font-size: 40px;
    font-weight: bold;
}

.subheadline {
    font-size: 18px;
    font-weight: normal;
}

.hero-cta {
    width: 100%;
    margin-top: 25px;
    padding: 14px;
    background-color: #006a4e;
    border-radius: 25px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.hero-cta:hover {
    background-color: #007a5a;
}

.hero-cta img {
    width: 20px;
    height: 20px;
}

.hero-cta span {
    color: #f5f7fa;
    font-weight: bold;
    font-size: 13px;
}

/* HERO SECTION */
/* SECTIONS UNIVERSAL STYLES */

.sections {
    width: 100%;
    padding: 30px 15px;
    background-color: #f5f7fa;
    display: flex;
    flex-direction: column;
    gap: 12px;
    box-shadow: inset 0 -5px 5px rgba(0, 0, 0, 0.05);
}

.sections .header {
    font-size: 24px;
    color: #006a4e;
}

.sections .subheader {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
}

.sections .para {
    font-size: 16px;
    font-weight: normal;
}

/* SECTIONS UNIVERSAL STYLES */
/* FASILITAS SECTION */

.fasilitas-container {
    gap: 30px;
}

.fasilitas-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.fasilitas {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.fasilitas-header {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
}

.fasilitas-header h3 {
    font-size: 20px;
    font-weight: 500;
}