html * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, *::before, *::after {
   box-sizing: border-box;
}


body {
    width: 100%;
    background-color: #f5f7fa;
    color: #1a1a1a;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    height: 200px;
    background-color: pink;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    background-color: #1a1a1a;
    color: #f5f7fa;
    /* width: calc(100% - 54px); */
    width: 100%;
    padding: 20px 30px 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-router {
    display: flex;
    gap: 10px;
    align-items: center;
}

.navbar .icon {
    height: 50px;
    display: block;
}

.typography {
    height: 30px;
    width: 75px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.typography img {
    width: 100%;
}

.hamburger {
    width: 25px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.hamburger span {
    height: 2px;
    width: 100%;
    background-color: white;
    border-radius: 2px;
    transition: all 0.3s ease;
}

.hamburger.active span:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}