html * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, *::before, *::after {
   box-sizing: border-box;
}


body {
    width: 100%;
    background-color: #f5f7fa;
    color: #1a1a1a;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    background-color: #f5f7fa;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a, a:link, a:visited, a:hover, a:active, a:focus {
    color: #f5f7fa;
    text-decoration: none;
    outline: none;
    cursor: pointer;
}

/* ROOT STYLES */
/* NAVBAR SECTION */

.navbar {
    background-color: #1a1a1a;
    color: #f5f7fa;
    width: 100%;
    padding: 20px 30px 20px 20px;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-router {
    display: flex;
    gap: 10px;
    align-items: center;
}

.navbar .icon {
    height: 50px;
    display: block;
}

.typography {
    height: 30px;
    width: 75px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.typography img {
    width: 100%;
}

.hamburger {
    width: 25px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.hamburger span {
    height: 2px;
    width: 100%;
    background-color: #f5f7fa;
    border-radius: 2px;
    transition: all 0.3s ease;
}

.hamburger.active span:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}

/* NAVBAR SECTION */
/* HERO SECTION */

.hero {
    width: 100%;
    padding: 140px 24px 30px 24px;
    background-image: url('src/img/hero.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: #f5f7fa;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.headline {
    font-size: 40px;
    font-weight: bold;
}

.subheadline {
    font-size: 18px;
    font-weight: normal;
}

.hero-cta {
    width: 100%;
    margin-top: 25px;
    padding: 14px;
    background-color: #006a4e;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    transition: all 0.3s ease;
}

.hero-cta:hover {
    background-color: #007a5a;
}

.hero-cta img {
    width: 20px;
    height: 20px;
}

.hero-cta span {
    color: #f5f7fa;
    font-weight: bold;
    font-size: 13px;
}

/* HERO SECTION */
/* SECTIONS UNIVERSAL STYLES */

.sections {
    width: 100%;
    padding: 30px 15px;
    background-color: #f5f7fa;
    display: flex;
    flex-direction: column;
    gap: 12px;
    box-shadow: inset 0 -5px 5px rgba(0, 0, 0, 0.05);
}

.sections .header {
    font-size: 24px;
    color: #006a4e;
}

.sections .subheader {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 600;
}

.sections .para {
    font-size: 16px;
    font-weight: normal;
}

/* SECTIONS UNIVERSAL STYLES */
/* FASILITAS SECTION */

.fasilitas-container {
    gap: 30px;
}

.fasilitas-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.fasilitas {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.fasilitas-header {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
}

.fasilitas-header h3 {
    font-size: 20px;
    font-weight: 500;
}

/* FASILITAS SECTION */
/* PACKAGE SECTION */

.package-container {
    padding-bottom: 40px;
    gap: 15px;
    align-items: center;
}

.package-container > * {
    width: 100%;
}

.card-wrapper {
    display: flex;
    gap: 16px;
    justify-content: space-around;
    /* overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch; */

    /* width: 85vw; */
}

.card {
    width: 85vw;
    border: 0.5px solid #cacaca;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    /* scroll-snap-align: start; */
}

.card .card-thumbnail {
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.card .card-body {
    position: relative;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card-body .stars-container {
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    gap: 5px;
}

.stars-container .star {
    width: 18px;
    height: 18px;
}

.card-body .card-title {
    font-size: 16px;
}

.card-body .card-subtitle {
    margin-bottom: 15px;
    font-size: 11px;
    font-weight: 500;
    color: #697571;
}

.card-body .card-details-wrapper {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.card-details-wrapper .card-detail {
    display: flex;
    gap: 10px;
    align-items: center;
}

.card-detail .card-icon {
    width: 14px;
    height: 14px;
}

.card-detail .card-detail-text {
    font-size: 14px;
    font-weight: normal;
    color: #697571;
}

.card-body .card-pricing {
    margin-top: 15px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.card-pricing p {
    font-size: 11px;
    font-weight: 300;
    color: #697571;
    margin-bottom: -5px;
}
.card-pricing .price-tag {
    font-size: 18px;
    font-weight: 600;
    color: #9a7c26;
}

.card-body .card-cta {
    padding: 10px 20px 10px 17px;
    background-color: #019c73;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.3s ease;
}

.card-cta:hover {
    background-color: #00b182;
}

.card-cta img {
    width: 16px;
    height: 16px;
}

.card-cta .card-cta-text {
    font-size: 12px;
    font-weight: 500;
    color: #f5f7fa;
}

/* PACKAGE SECTION */
/* GALLERY SECTION */

.gallery-container .subheader {
    margin-bottom: 20px;
}

.gallery-container .photo-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    grid-auto-flow: dense;
}

.photo-wrapper .photo {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.photo-wrapper .photo-s {
  aspect-ratio: 1 / 1;
}

.photo-wrapper .photo-m {
    grid-column: span 2;
    aspect-ratio: 2 / 1;
}

.photo-wrapper .photo-l {
    grid-column: span 2;
    aspect-ratio: 1 / 1;
}

/* GALLERY SECTION */
/* FOOTER */

.footer-container {
    width: 100%;
    padding: 20px 20px 10px 20px;
    background-color: #1a1a1a;
    color: #f5f7fa;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.footer-container .footer-logo {
    width: 140px;
}

.footer-container .footer-socials {
    padding-left: 5px;
    display: flex;
    gap: 32px;
    align-items: center;
}

.footer-socials .icon-wrapper {
    width: 24px;
    height: 24px;
}

.icon-wrapper img {
    width: 100%;
    height: 100%;
}

.footer-container hr {
    width: 100%;
    border: 1.5px solid #006a4e;
}

.footer-details, .footer-schedule, .footer-copyright {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-copyright hr {
    width: 100%;
    border: 1px solid #6c6f73;
}

.footer-copyright p {
    font-size: 11px;
    text-align: center;
}