html * {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-color: #f5f7fa;
    color: #1a1a1a;
    font-family: 'Poppins', sans-serif;
    border: 1px solid blue;
}

.container {
    width: 100%;
    height: 100px;
    background-color: pink;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    background-color: red;
    width: 100px;
    height: 100px;
}